.selected-feedback {
    margin-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .feedback-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  h3{
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .emoji {
    margin-top: 0px;
    font-size: 3.5rem;
  }
  
  .text {
    font-size: 1.5rem;
  }
