#root {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 35px;
  background-color: rgb(156, 155, 150);
  border: 2px black solid;
  border-radius: 50px;
}

.emoji-container {
  display: flex; 
  gap: 15px; 
  justify-content: center; 
  align-items: center; 
}
